.tabs-item {
  margin-left: 5px;
  padding: 0 20px;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #303133;
  position: relative;
  background: #f5f7fa;
  transition: 0.5s all;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.tabs-item:hover {
  background: #ffffff;
}
.tabs-item:first-child {
  margin-left: 0;
}
.tabs-item.active-item {
  background: #ffffff;
}
.tabs-item .icon-wrap {
  position: absolute;
  top: -1px;
  right: 2px;
  width: 14px;
  height: 14px;
}
.tabs-item .icon-wrap .icon {
  z-index: 99;
  font-size: 8px;
  position: relative;
}
.tabs-item .icon-wrap .icon:hover {
  color: #23a8f2;
}
.tabs-item .mark {
  position: absolute;
  background: #eeeeee;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translateX(-120%);
  top: 9px;
  transition: 0.75s all;
}
.tabs-item .active {
  background: #23a8f2;
}
