@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1588136418537'); /* IE9 */
  src: url('iconfont.eot?t=1588136418537#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABwAAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDFAqBRIE4ATYCJAMQCwoABCAFhG0HSBsiBsgekiSBXjLzgCynBECY4uH7/f639pH7VZKIdp9OEpHQfkgkiJRMKG+o3pnumXz33S8zRh09QFaH9lPaj9dem9HzE46MnDLsQbPQ85fHn4dfk2wsL63zgW5NbT7/907/bGiBzGvfcllz2Ov4p06AcUAB7oVRQIGWSEDeMHaBS7hPoNeMETUXeycFaFZYywLxOpIuNOfKisJ63UJTs7eId6ru9CZ9wdvw+/HPQTST1Mxae+XpbgAbP+vPG3VoAbd9SoUAD1dkbAGFuF/bvqlOMGWd3un1doBGEdJcxf+WkLlu1r3NTv94SSYaFtkPjmAn87O6AsHP6wKJnzcIGX7G4m5UbACniJ96jyxETEVjc+nIu5ySQNzWgVJwjdsu6aZfmlBCrhaK/lq5tE5zr9fbPVY/Ls3Sg62q6luUeNSahx4XSwpt2ICap3DyfNCSP36m4UMY3vw4aKAB2k7dx3wKQLqs3YD+9ItA8L5uaPBeV/xvpgJ+fB/6oNx26o3rdEv0tvxJS8+BotusSCmq3TUb2WLmnpYm9OpFy8qP+pjDO9GbJHSbSJF0mUbWbYku/BaqPkdodDtGr037h/uMMepE6cGGK4Aw7B7JoA6yYY904d9RTfpDYzjq0Otq8Jl9ViJqXYZcpgC9S4x8VRFOjFuj/hzJ09Q1WVuoKpGxUQ0nxyaKvX2qkJljgz2TU8wChVEZ7oHHKE0VaqNi8nksZNZL4+Oi7kVjvsqg1TmDuBgJIM8lFPEpFcIfzVpLn88h0qmUy7SIavolxLCiydGkMRM96H13pZfoXp6xzkhTGBOQYCgZtAdmkVRKQbp+Voz42JhwRFNbMm4PE33dY+t7sy88Br2s7SVS5ChR1UepstRy+5VRJvti5jg1CQAA') format('woff2'),
  url('iconfont.woff?t=1588136418537') format('woff'),
  url('iconfont.ttf?t=1588136418537') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1588136418537#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e605";
}

.icon-icon-test:before {
  content: "\e658";
}

.icon-icon-test1:before {
  content: "\e659";
}

